<h1>New User Form</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :username, "Your user name here:" %><br>
    <%= form.text_field :username, placeholder: "Your cool username", value: "sample_user" %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, placeholder: "example@example.com" %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Submit Form" %>
  </div>
<% end %>